@font-face {
    font-family: "Poppins-Regular";
    src: url('../fonts/Poppins/Poppins-Regular.ttf')format('truetype');
}

@font-face {
    font-family: "Poppins-Bold";
    src: url('../fonts/Poppins/Poppins-Bold.ttf')format('truetype');
}
@font-face {
    font-family: "Poppins-Light";
    src: url('../fonts/Poppins/Poppins-Light.ttf')format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins-Regular", sans-serif;
    font-weight: 500;
}

.bold{
    font-weight: 700;
}

/* home page */
/* navbar */
.nav-container{
    background-color: #533B4D;
}
.navbar .navbar-brand{
    color: white;
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 700;
}
.navbar-toggler-icon{
    color: #ffffff;
}
.navbar-collapse ul li a{
    color: white;
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 500;
}

.navbar-collapse ul li a:hover{
    color: #EE6C4D;
}

.fa-city{
    color: white;
}
.fa-bars{
    color: #ffffff;
}
.search-section{
    min-height: 500px;
    background-image: url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: relative;
}
.search-section::before{
    content: "";
    position: absolute;
    top:80px ;
    left:90px ;
    width: 85%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.search-bar{
   position: relative; 
   z-index: 2;
}
.search-title{
   margin-top: 130px;
   margin-bottom: 50px;
   color: #ffffff;
}
.category-radio{
    margin-bottom: 10px;
}
.category-selection{
    display: block;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 0;
    color: #533B4D;
    font-weight: 700;
}
.category-radio input[type="radio"]:checked + label,.category-radio input[type="radio"]:hover + label{
    background: linear-gradient(to left, #533B4D,#EE6C4D)!important;
    outline: none;
    color: #ffffff !important;
    border: none;
}
.search-option{
    border-radius: 0;
    color: #533B4D;
    font-weight: 700;
}

.search-btn{
    margin-top: 20px;
}
.btn-search{
    background-color: #533B4D;
    color: #ffffff;
    border-color: #533B4D;
    border-radius: 0;
}
.btn-search:hover{
    background-color: #533B4D; 
    border-color: #533B4D;
}

.property-section{
    margin-top: 80px;
    margin-bottom: 80px;
}
.featured{
    margin-bottom: 35px;
}
/* Login */
.login-body{
    background-image: url("../images/hero-image3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.login{
    margin: 60px;
    min-height: 400px;
}
.login-side{
    background-color: rgba(255,255,255,0.2);
    border-radius: 8px 0px 0px 8px;
}
.login-side h1{
    color: #ffffff;
    font-family: "Poppins-Bold" ,sans-serif;
    font-weight: 800;
    padding-top: 150px;
}
.form-section{
    background-color: #252020;
    border-radius:0px 8px 8px 0px ;
}
.login-text{
    margin-top: 20px;
    margin-bottom: 10px;
}

.login-input{
    margin-bottom: 50px;
}
.purple{
    font-weight: 500;
    color: #533B4D;
}
.custom-btn{
    background: #533B4D;
    color: #ffffff;
    font-weight: 700;
    border-radius: 0px;
}
.custom-btn:hover{
    background: #533B4D;
    color: #ffffff;
}
.link{
    color: #533B4D;
    font-weight: 700;
}
.link:hover{
    color: #EE6C4D;
}
/* sign up */
.reg-body{
    background-color: #e1dfdf;
}
.signup-body{
    background-color: rgba(83,59,77, 0.2);
}
.signup{
    background-image: url(../images/hero-image4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 300px; 
    position: relative;
}
.signup::before{
    content: "";
    position: absolute;
    top:0 ;
    left:0 ;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.signup .inner-div{
    z-index: 2;
    margin-top: 70px;
    font-weight: 900;
}
.white{
    color: #ffffff;
}
.role-section{
    margin-bottom: 150px;
}
.role-box{
    min-height: 230px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid whitesmoke;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: -100px;
    position: relative;
    z-index: 2;
}
.bold-purple{
    color: #533B4D;
    font-weight: 700;
}
.bold-white{
    color: #ffffff;
    font-weight: 700;
}
.bold-orange{
    color: #EE6C4D;
    font-weight: 700;
}
/* bottom nav */
.bottom-nav{
    background-color: #533B4D;
    padding: 12px;
    color: #ffffff;
    margin-bottom: 1px;
    padding: 10px;
}
.bottom-nav-col a{
    text-decoration: none;
}
.bottom-nav-col a:hover{
    color: #ffffff;
}
.advertise{
   margin-right: 20px;
}
.btn-outline-warning{
    border: 1px solid #EE6C4D;
}

/* footer */
.footer{
    background-color: #EE6C4D;
    min-height: 150px;
    color: #5a5555;
    padding: 10px;
    padding-bottom: 40px;
}
.footer ul li{
    list-style: none;
}
.footer-title{
    padding-left: 30px;
}
/* Register form */

.reg-form{
   margin-top: 80px;
   margin-bottom: 80px;
}

.form-section{
    padding: 40px;
    background-color: rgba(83,59,77, 0.2);
}
.form-section input, .form-section select{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.form-section select option{
    background-color: #EE6C4D;
    color: yellow;
}
.form-section select option:checked {
    background-color: #EE6C4D;
}
.form-section input::placeholder{
    font-weight: 700;
}
.role-radio input[type="radio"]:checked + label,.role-radio input[type="radio"]:hover + label{
    background-color: #533B4D !important;
    outline: none;
    color: #ffffff !important;
    border: none;
    border-radius: 0;
}
.role-selection{
    display: block;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 0;
    color: #533B4D;
    font-weight: 700;
}
/* agent listing */
.search-section-agent{
    min-height: 400px;
    background-image: url("../images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: relative;
}
.search-section-agent::before{
    content: "";
    position: absolute;
    top:0 ;
    left:0 ;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.test{
    border: 2px solid red;
}
.agent-section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.agent-div{
    border: 2px solid #533B4D;
    padding: 25px;
    border-radius: 5px;
    margin-top: 50px;
}

/* dashboard */
.dashboard{
    min-height: 420px;
    justify-content: space-between;
    margin-bottom: 80px;
}
.dash-nav{
    margin-top: 5px;
    background-color: #f2f1f1;
    border-radius: 8px;
    padding: 30px;
    max-height: 380px;
}
.dash-nav h3{
    margin-bottom: 60px;
}
.dash-nav h3 a{
    text-decoration: none;
}
.dash-nav h3 a:hover{
    color: #533B4D;
}
.dash-nav ul{
    padding-left: 0px;
}
.dash-nav ul li{
    list-style: none;
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 300;
}
.dash-nav ul li i{
    color: #533B4D;
    font-weight: 400;
    font-size: 1.2em;
    padding-right: 5px;
}
.dash-nav ul li a{
    text-decoration: none;
    color: black;
}
.dash-side{
    padding-top: 25px;
    margin-right: 100px;
}
.dash-side div{
    margin-top: 20px;
}
/* Landlord, Agent, Developer dashboard */
.other-user-dash{
    max-height: 1000px;
}
.other-dash-nav{
    background-color: #f2f1f1;
    min-height: 500px;
}
.other-dash-nav h3{
    padding-top: 15px;
    margin-bottom: 40px;
}
.other-dash-nav h3 a{
    text-decoration: none;
}
.other-dash-nav h3 a:hover{
    color: #533B4D;
}
.other-dash-nav ul{
    padding-left: 0px;
}
.other-dash-nav ul li{
    padding-left: 10px;
    list-style: none;
    margin-top: 20px;
    font-size: 1.1em;
}
.other-dash-nav ul li i{
    color: #533B4D;
    font-size: 1em;
    padding-right: 5px;
}
.other-dash-nav ul li a{
    font-family: "Poppins-Light";
    text-decoration: none;
    color: black;
}
.other-dash-side{
   margin-left: 0px;
}
.nav-banner{
    background-color: #533B4D;
}
.nav-banner a{
    text-decoration: none;
}
.greeting-section{
    background-color: #533B4D;
    color: #ffffff;
    padding: 20px;
}

.post-btn{
    background-color: #EE6C4D;
    padding: 12px;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 20px;
}
.post-btn:hover{
    background-color: #EE6C4D;
    color: #ffffff;
}
.dash-content{
    margin-top: 40px;
    color: #5a5555;
}
.dash-listings{
    border: 2px solid #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 30px;
}
.list-link{
    margin-right: 10px;
}
.list-link a{
    color: #533B4D;
    text-decoration: none;
}
.list-link i {
    font-size: 3.5vw;
}
.list-link p{
    margin-top: 15px;
    font-size: 1.5vw;
    font-weight: 700;
}
.listings-info{
    border-left: 2px solid #9e9a9a;
}

.listings-info p{
    font-size: 0.9vw;
    line-height: 0.6;
    font-weight: 700;
}
.listing-view{
    border-radius: 5px;
    height: 70px;
    background-color: #533B4D;
    padding-top: 15px;
    
}
.listing-view a{
    color: #ffffff;
    text-decoration: none;
}
.listing-view p{
    font-size: 1vw;
}

.custom-col{
    flex-basis: 16.7%;
   max-width: 16.7%;
   margin: 0 2px;
}
/* other users profile */
.customised-active{
    background-color: #e1dfdf;
    padding-top: 5px;
    padding-bottom: 5px; 

}
.customised-active a{
    text-decoration: none;
    color: #533B4D; 
}
.customised{
    padding-top: 5px;
    padding-bottom: 5px; 
    border: 1px solid white;
}
.customised:hover{
    background-color: #e1dfdf;
}
.customised a{
    text-decoration: none;
    color: #ffffff; 
    font-size: 1em;
}
.customised a:hover{
    color: #533B4D; 
}
.profile-details{
    margin-top: 40px;
    border: 2px solid #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.fa-pen-to-square{
    font-size: 2em;
}
.nav-banner{
    display:none ;
}
.team-members{
    border-bottom: 1px solid black;
}
.create-team{
    margin-bottom: 10px;
}
.custom-border{
    border-right: 1px solid black;  
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
@media screen and (min-width: 290px) and (max-width: 991px) {
    /* .other-dash-nav{
        display: none;
    } */
    .role-box{
        margin-bottom: 130px;
    }
    .search-section{
        min-height: 600px;
    }
    .search-section::before{
        content: "";
        position: absolute;
        top:80px ;
        left:50px ;
        width: 85%;
        height: 86%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    .search-title{
        margin-top: 100px;
        margin-bottom: 30px;
    }
    .btn-search{
        justify-content: end;
    }
    .login-side h1{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .dash-listings{
        margin-bottom: 30px;
    }
    .other-dash-nav{
        display: none;
    }
    .other-dash-side{
        flex-basis: 100%;
        max-width: 100%;
       
    }
    .btn-toggle{
        display: block;
    }
    .nav-banner{
        display: block;
    }
}